<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.databasetest">

    <permission
        android:name="com.example.databasetest.provider.READ_PERMISSION"
        android:protectionLevel="signatureOrSystem" />

    <permission
        android:name="com.example.databasetest.provider.WRITE_PERMISSION"
        android:protectionLevel="signatureOrSystem" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".DatabaseProvider"
            android:authorities="com.example.databasetest.provider"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.example.databasetest.provider.READ_PERMISSION"
            android:writePermission="com.example.databasetest.provider.WRITE_PERMISSION" />
    </application>

</manifest>